@import "src/assets/scss/utils/mixins.scss";
@import "src/assets/scss/utils/variables.scss";

:host {
  height: 100%;
}

.ant-page-header {
  .ant-page-header-content {
    .row {
      @include flex-container;
      gap: 16px;

      @include media-md {
        flex-direction: column;
      }

      & > * {
        width: 49%;

        @include media-md {
          width: 100%;
        }
      }
    }

    & > * {
      margin-bottom: 16px;
    }
  }
}
