@import "src/assets/scss/utils/mixins.scss";
@import "src/assets/scss/utils/variables.scss";

.referral-page {
  .ant-page-header-heading-extra {
    @include media-sm {
      width: 100%;
    }
  }

}
.ant-page-header {
  max-height: calc(100vh - #{$layout-header-height});
  overflow-y: auto;
}
.auth-form-wrapper {
  .ant-page-header-heading {
    button {
      width: 100%;
      max-width: 200px;
      min-width: 200px;
    }
  }
}
