<form nz-form nzLayout="vertical">
  <!-- form-item -->

  <nz-form-item>
    <nz-form-label>Name*</nz-form-label>
    <nz-form-control fo nzHasFeedback [nzErrorTip]="productNameTmpl">
      <input
        [formControl]="nameControl"
        nzSize="large"
        type="text"
        nz-input
        placeholder="Input Name"
      />
      <ng-template #productNameTmpl let-control>
        <ng-container *ngIf="wasAttemptToSubmitForm && control.hasError('required')"
          >Please input Name</ng-container
        >
      </ng-template>
    </nz-form-control>
  </nz-form-item>
</form>

<div class="btn-wrapper">
  <button
    (click)="handleCancel()"
    nz-button
    nzType="default"
    class="default"
    nzSize="large"
  >
    Cancel
  </button>
  <button
    (click)="handleSubmitForm()"
    [nzLoading]="isLoading$ | async"
    nz-button
    nzType="primary"
    nzSize="large"
  >
    Save
  </button>
</div>
