@import "src/assets/scss/utils/mixins.scss";
@import "src/assets/scss/utils/variables.scss";

.search-wrapper {
  width: 100%;
  max-width: 350px;
  min-width: 120px;
  @include flex-container(row, center);
  gap: 8px;

  .ant-input-affix-wrapper {
    width: auto;
    border-radius: $input-border-radius;
    border: 1px solid $input-border-color;
  }

  .clear-icon {
    cursor: pointer;
    color: $gray-color;
    transition-duration: 0.5s;
    transform: scale(0.9);
    opacity: 0.7;

    &:hover {
      transition-duration: 0.5s;
      opacity: 1;
      color: $blue-color;
    }
  }

  .search-icon {
    color: $blue-color;
  }

  input {
    width: auto;
    &::placeholder {
      color: $input-border-color;
      font-size: 14px;
    }
  }
}
