$gray-color: #606f76;
$medium-blue-color: #d7effa;
$blue-color: #66c2ed;

$primary-color: #a8d2e6;
$secondary-color: #a8d2e5;

$error-color: #fa6363;

$light-blue-color: #f8fdff;

$green-color: #a6e0c4;

$input-border-color: #d9e5eb;
$input-border-radius: 8px;


$heading-1-size: 32px;

$text-color: #1d262b;

$layout-header-height: 64px;