<nz-layout>
  <app-header />
  <nz-layout class="sidebar">
    <nz-sider
      nzCollapsible
      nzBreakpoint="lg"
      [nzWidth]="!isMobile ? 224 : 0"
      nzTheme="light"
      [nzCollapsed]="false"
      [nzTrigger]="!isMobile ? null : undefined"
      [nzCollapsedWidth]="isMobile ? 0 : 80"
    >
      <ul nz-menu nzMode="inline" class="sider-menu">
        <ng-container *ngFor="let menuItem of menuItems">
          <ng-container
            [ngTemplateOutlet]="!menuItem.items ? singleItem : subMenuItem"
            [ngTemplateOutletContext]="{ menuItem: menuItem }"
          ></ng-container>
        </ng-container>

        <!-- item menu without children -->
        <ng-template #singleItem let-menuItem="menuItem">
          <ng-container *ngIf="isShowMenuItemByRoles(menuItem)">
            <li nz-menu-item nzMatchRouter *ngxPermissionsOnly="menuItem?.permissions">
              <a [routerLink]="menuItem.url">
                <span *ngIf="menuItem?.icon" nz-icon [nzType]="menuItem?.icon"></span>
                <span>{{ menuItem.label }}</span>
              </a>
            </li>
          </ng-container>
        </ng-template>

        <!-- item menu with children -->
        <ng-template #subMenuItem let-menuItem="menuItem">
          <li
            nz-submenu
            [nzOpen]="menuItem.isOpen"
            [nzIcon]="menuItem?.icon"
            [nzTitle]="menuItem.label"
          >
            <ul>
              <li
                *ngFor="let item of menuItem.items"
                nz-menu-item
                nzMatchRouter
                [routerLink]="item.url"
              >
                <span *ngIf="item?.icon" nz-icon [nzType]="item?.icon"></span>
                <span>{{ item.label }}</span>
              </li>
            </ul>
          </li>
        </ng-template>
      </ul>

      <div class="menu-trigger" (click)="isCollapsed = !isCollapsed">
        <span
          nz-icon
          [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
          nzTheme="outline"
        ></span>
      </div>
    </nz-sider>
    <nz-layout class="inner-layout">
      <nz-content class="inner-layout-content">
        <router-outlet></router-outlet>
      </nz-content>
    </nz-layout>
  </nz-layout>
</nz-layout>
