@import "src/assets/scss/utils/mixins.scss";
@import "src/assets/scss/utils/variables.scss";

.recorder-wrapper {
  .wavesurfer {
    width: 100%;

    min-height: 102px;
    background-color: $input-border-color;
    margin-bottom: 16px;
  }

  .buttons-wrapper {
    @include flex-container(row, center, center);
    gap: 12px;
    margin-bottom: 16px;

    & > button {
      min-width: 106px;
    }

    & > .record {
      .anticon-audio {
        position: relative;

        &::after {
          content: "";
          position: absolute;
          width: 0;
          height: 0;
          box-shadow: 0 0 7px 5px $error-color;
          top: 5px;
          left: 7px;
          z-index: 1;
          animation: shadow-animation 2s ease-in-out infinite;
        }

        & > svg {
          position: relative;
          z-index: 2;
        }
      }
    }
  }

  @keyframes shadow-animation {
    0% {
      box-shadow: 0 0 0 0 $error-color;
    }
    50% {
      box-shadow: 0 0 7px 5px $error-color;
    }
    100% {
      box-shadow: 0 0 0 0 $error-color;
    }
  }

  .checkbox-wrapper {
    @include flex-container(row, center, flex-start);
    gap: 16px;
  }
}
.audio-wrapper {
  margin-bottom: 16px;
  @include flex-container(column);
  gap: 8px;
  .audio-file {
    width: 50%;
    @include flex-container(row, center);
    gap: 12px;
    padding: 8px;
    background: $light-blue-color;

    .anticon-play-circle {
      color: $blue-color;
      font-size: 20px;
      cursor: pointer;
    }
    .anticon-delete {
      color: $error-color;
      cursor: pointer;
    }

    .audio {
      width: 70%;
      min-width: 86px;
      min-height: 32px;
    }
  }
}
