<div class="clinician-products-wrapper">
  <nz-page-header class="with-actions p0">
    <nz-page-header-title>Products</nz-page-header-title>
    <nz-page-header-extra>
      <div class="header-actions">
        <nz-space>
          <app-search-input (searchTextChange)="handleSearchByText($event)" />
        </nz-space>

        <nz-space>
          <button
            class="add"
            nzSize="large"
            (click)="handleAddNew()"
            *nzSpaceItem
            nzType="primary"
            nz-button
          >
            Assign products
          </button>
        </nz-space>
      </div>
    </nz-page-header-extra>
    <nz-page-header-content>
      <nz-table
        nzShowSizeChanger
        [nzPageSizeOptions]="[10, 20, 50]"
        [nzLoading]="isLoading$ | async"
        [nzData]="productsData"
        [nzFrontPagination]="false"
        [nzTotal]="totalCount"
        zTableLayout="fixed"
        [nzScroll]="{ x: '700px' }"
        (nzQueryParams)="onQueryParamsChange($event)"
      >
        <thead>
          <tr>
            <th nzColumnKey="Id">Product Id</th>
            <th nzColumnKey="Name">Product Name</th>
            <th nzColumnKey="Price">Price</th>
            <th nzColumnKey="actions" nzWidth="76px">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of productsData">
            <td>
              {{ data?.customId }}
            </td>
            <td>
              {{ data?.name }}
            </td>
            <td>
              {{ data?.price }}
            </td>
            <td>
              <div class="action">
                <ng-container
                  [ngTemplateOutlet]="menu"
                  [ngTemplateOutletContext]="{ data: data }"
                ></ng-container>
              </div>
            </td>
          </tr>
        </tbody>
      </nz-table>

      <ng-template #menu let-data="data">
        <a
          nz-dropdown
          class="table-menu"
          nzTrigger="click"
          [nzClickHide]="true"
          [nzDropdownMenu]="menu"
        >
          <span nz-icon nzType="more" nzTheme="outline"></span>
        </a>
        <nz-dropdown-menu #menu="nzDropdownMenu">
          <ul nz-menu nzSelectable>
            <li nz-menu-item (click)="removeProduct(data.id)">Remove</li>
          </ul>
        </nz-dropdown-menu>
      </ng-template>
    </nz-page-header-content>
  </nz-page-header>
</div>
