<nz-table
  nzShowSizeChanger
  [nzPageSizeOptions]="[10, 20, 50]"
  [nzLoading]="isLoading$ | async"
  [nzData]="staffUsersData"
  [nzFrontPagination]="false"
  [nzTotal]="totalCount ?? 0"
  zTableLayout="fixed"
  [nzScroll]="{ x: '800px' }"
  (nzQueryParams)="onQueryParamsChange($event)"
>
  <thead>
    <tr>
      <th nzColumnKey="Name" [nzSortFn]="true">Name</th>
      <th nzColumnKey="Phone" [nzSortFn]="true">Phone number</th>
      <th nzColumnKey="Email" [nzSortFn]="true">Email</th>
      <th
        nzColumnKey="Role"
        [nzFilterMultiple]="true"
        [nzFilterFn]="true"
        [nzFilters]="roleFilterOptions"
      >
        Role
      </th>
      <th nzColumnKey="Status">Status</th>
      <th nzColumnKey="actions" nzWidth="76px">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr
      *ngFor="let data of staffUsersData"
      [class.locked]="!!data.applicationUser.lockoutEnd"
    >
      <td>
        {{ data?.applicationUser?.firstName }} {{ data?.applicationUser?.lastName }}
      </td>
      <td>
        {{
          data.applicationUser.phoneCode | phoneNumber : data.applicationUser.phoneNumber
        }}
      </td>
      <td>{{ data?.applicationUser?.email }}</td>
      <td>
        {{ getUserRole(data?.role) }}
      </td>
      <td>
        <ng-container *ngIf="data?.applicationUser?.isActive; else inactiveTmpl">
          <nz-tag nzColor="#A6E0C4">Active</nz-tag>
        </ng-container>
        <ng-template #inactiveTmpl>
          <nz-tag nzColor="#E0A6C5">Inactive</nz-tag>
        </ng-template>
      </td>
      <td>
        <div class="action">
          <ng-container
            [ngTemplateOutlet]="menu"
            [ngTemplateOutletContext]="{ data: data }"
          ></ng-container>
        </div>
      </td>
    </tr>
  </tbody>
</nz-table>

<ng-template #menu let-data="data">
  <div>
    <ng-container *ngIf="data.applicationUser.lockoutEnd">
      <span
        nz-tooltip
        [nzTooltipOverlayClassName]="'tooltip'"
        nzTooltipTitle="This account is locked"
        ><span nz-icon nzType="exclamation" class="locked-icon" nzTheme="outline"></span
      ></span>
    </ng-container>
  </div>

  <a
    nz-dropdown
    class="table-menu"
    nzTrigger="click"
    [nzClickHide]="true"
    [nzDropdownMenu]="menu"
  >
    <span nz-icon nzType="more" nzTheme="outline"></span>
  </a>
  <nz-dropdown-menu #menu="nzDropdownMenu">
    <ul nz-menu nzSelectable>
      <ng-container *ngIf="data?.applicationUser?.isActive; else reactivateTmpl">
        <li nz-menu-item (click)="edit(data.id)">Edit</li>
        <a
          nz-popconfirm
          nzPopconfirmTitle="Are you sure to Deactivate this user?"
          (nzOnConfirm)="deactivate(data.id)"
        >
          <li nz-menu-item nzDanger>Deactivate</li>
        </a>
      </ng-container>

      <ng-template #reactivateTmpl>
        <a
          nz-popconfirm
          nzPopconfirmTitle="Are you sure to Reactivate this user?"
          (nzOnConfirm)="reactivate(data.id)"
        >
          <li nz-menu-item>Reactivate</li>
        </a>
      </ng-template>
      <a
        *ngIf="!!data?.applicationUser?.lockoutEnd"
        nz-popconfirm
        nzPopconfirmTitle="Are you sure to Unlock this user?"
        (nzOnConfirm)="unlock(data.applicationUserId)"
      >
        <li nz-menu-item>Unlock</li>
      </a>
    </ul>
  </nz-dropdown-menu>
</ng-template>
