<div class="auth-form-wrapper">
  <ng-container *ngIf="!isUseForAddPassword; else createTmpl">
    <h1>Password recovery</h1>
    <p>Create new password:</p>
  </ng-container>

  <ng-template #createTmpl>
    <h1>Create new password</h1>
  </ng-template>

  <form
    nz-form
    [formGroup]="formGroup"
    (ngSubmit)="handleSubmitForm()"
    nzLayout="vertical"
  >
    <nz-form-item>
      <nz-form-label>New Password</nz-form-label>
      <nz-form-control nzHasFeedback [nzErrorTip]="passwordErrorTpl">
        <nz-input-group [nzSuffix]="suffixTemplate" nzSize="large">
          <input
            nzSize="large"
            nz-input
            [type]="showPassword ? 'text' : 'password'"
            formControlName="password"
            placeholder="New password"
            (ngModelChange)="validateConfirmPassword()"
          />
          <ng-template #passwordErrorTpl let-control>
            <ng-container *ngIf="wasAttemptToSubmitForm && control.hasError('required')"
              >Please input Password</ng-container
            >
            <ng-container
              *ngIf="
                wasAttemptToSubmitForm &&
                control.hasError('pattern') &&
                !control.hasError('required')
              "
              >The password must contain at least 8 symbols and one uppercase letter, one
              lowercase letter, one digit, and one special character.</ng-container
            >
          </ng-template>
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label>Confirm Password</nz-form-label>
      <nz-form-control nzHasFeedback [nzErrorTip]="confirmErrorTpl">
        <nz-input-group [nzSuffix]="suffixTemplate" nzSize="large">
          <input
            nzSize="large"
            nz-input
            [type]="showPassword ? 'text' : 'password'"
            formControlName="confirm"
            placeholder="Confirm your password"
          />
          <ng-template #confirmErrorTpl let-control>
            <ng-container *ngIf="wasAttemptToSubmitForm && control.hasError('required')"
              >Please confirm your password</ng-container
            >
            <ng-container *ngIf="wasAttemptToSubmitForm && control.hasError('confirm')"
              >Passwords must match</ng-container
            >
            <ng-container
              *ngIf="
                wasAttemptToSubmitForm &&
                control.hasError('pattern') &&
                !control.hasError('confirm')
              "
              >The password must contain at least one uppercase letter, one lowercase
              letter, one digit, and one special character.</ng-container
            >
          </ng-template>
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control>
        <button nz-button nzType="primary" nzSize="large" [disabled]="!email && !code">
          {{ isUseForAddPassword ? 'Create password' : 'Reset password' }}
        </button>
      </nz-form-control>
    </nz-form-item>
  </form>
</div>

<ng-template #suffixTemplate>
  <span
    nz-icon
    [nzType]="showPassword ? 'eye-invisible' : 'eye'"
    (click)="showPassword = !showPassword"
  ></span>
</ng-template>
