@import "src/assets/scss/utils/mixins.scss";
@import "src/assets/scss/utils/variables.scss";

.auth-form-wrapper {
  padding: 32px;

  h1 {
    text-align: center;
    margin-bottom: 12px;
    letter-spacing: -0.02em;
  }
  h1 + p {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.15px;
    text-align: center;
    max-width: 300px;
    margin: 0 auto 40px;
    color: $gray-color;
  }

  button:not(.back-btn) {
    margin-top: 16px;
    width: 100%;
  }

  button.back-btn {
    position: absolute;
    cursor: pointer;
    top: 24px;
    left: 32px;
    width: 40px;
    height: 40px;
    border-radius: $input-border-radius;
    background-color: $medium-blue-color;
    border: none;
    font-size: 20px;
  }
}
