<div class="auth-form-wrapper">
  <button class="back-btn" (click)="navigateToSignIn()">
    <span nz-icon nzType="arrow-left" nzTheme="outline"></span>
  </button>

  <h1>Password recovery</h1>
  <p>Forgot your password? Enter your email to receive a verification code:</p>

  <form
    nz-form
    [formGroup]="formGroup"
    (ngSubmit)="handleSubmitForm()"
    nzLayout="vertical"
  >
    <nz-form-item>
      <nz-form-label>E-mail</nz-form-label>

      <nz-form-control nzHasFeedback [nzErrorTip]="emailErrorTpl">
        <input
          nzSize="large"
          type="email"
          nz-input
          formControlName="email"
          placeholder="example@gmail.com"
        />
        <ng-template #emailErrorTpl let-control>
          <ng-container *ngIf="wasAttemptToSubmitForm && control.hasError('pattern')"
            >The Email is not valid
          </ng-container>
          <ng-container *ngIf="wasAttemptToSubmitForm && control.hasError('required')"
            >Please input your E-mail!</ng-container
          >
        </ng-template>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control>
        <button
          nz-button
          nzSize="large"
          [nzLoading]="isLoading$ | async"
          nzType="primary"
        >
          Reset password
        </button>
      </nz-form-control>
    </nz-form-item>
  </form>
</div>
