@import "src/assets/scss/utils/mixins.scss";

.clinician-page {
  .ant-page-header-heading-extra {
    @include media-md {
      width: 100%;
      flex-wrap: wrap;
    }
  }
  .state {
    @include media-md {
      margin-left: 0;
    }
  }
}