@import "../utils/variables";
@import "../utils/mixins";

.ant-modal-content {
  border-radius: 16px;
  background-color: $medium-blue-color;
  padding: 8px;

  .ant-modal-header {
    border-radius: 16px;
    background-color: $medium-blue-color;
    border: none;
  }

  .ant-modal-title {
    text-align: center;
    font-size: 22px;
    line-height: 28px;
    text-align: center;
    letter-spacing: -0.02em;
    font-weight: 400;
  }

  .ant-modal-body {
    background-color: #fff;
    border-radius: 12px;
  }

  .ant-table-wrapper {
    .ant-table-placeholder {
      .ant-table-expanded-row-fixed {
        width: 100% !important;
      }
    }
  }

  .btn-wrapper {
    border-top: 1px solid $input-border-color;
    padding: 16px 0 0;
    @include flex-container(row, center, flex-end);
    gap: 8px;

    & > button {
      width: 100%;
      max-width: 106px;
    }
  }
}

.pdf-modal {
  .ant-modal-body {
    background-color: $medium-blue-color;
  }
}
