@import "../utils/mixins";
@import "../utils/variables";

.ant-table-thead {
  .department-table-head {
    @include flex-container(row, center, space-between);
    gap: 15px;
    & > .ant-select {
      width: 100%;
      max-width: 242px;
    }
  }
}

.ant-table-content {
  .ant-table-thead {
    th {
      font-weight: 400;
      font-size: 12px;
      line-height: 16px;
      font-weight: 500;
      padding: 15px 16px;
    }
  }

  .ant-table-row {
    td {
      font-weight: 400;
      font-size: 12px;
      line-height: 16px;
      padding: 11.8px 16px;
    }
  }

  td.status {
    text-align: center;
  }

  td {
    .action {
      @include flex-container(row, center, center);

      .table-menu {
        &:hover {
          background-color: $blue-color;
          border-radius: 4px;

          .anticon-more {
            font-weight: 600;
            color: #fff;
          }
        }
      }
    }
  }

  tr {
    &.locked {
      td {
        background-color: #fff1f1c2;
      }
      &:hover {
        td {
          background-color: #fff1f1c2;
        }
      }
    }
    &.currentHighlight {
      td {
        background-color: #bababac2;
      }
      &:hover {
        background-color: #bababac2;
      }
    }

    &.defaultProduct {
      td {
        background-color: #f0fdff;
      }
      &:hover {
        td {
          background-color: #f0fdff;
        }
      }

      &.invalid {
        & > :first-child {
          .anticon {
            font-size: 16px;
            margin: 0 6px -4px 0;
            position: relative;
            bottom: -2px;
            color: $blue-color;
            z-index: 999;
          }
        }
      }
    }
  }

  td.ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  td.action {
    @include flex-container(row, center, flex-end);
  }
}

.locked-icon {
  color: $error-color;
  font-size: 24px;
}

.ant-table-filter-dropdown {
  .search-box {
    padding: 16px;
  }
  border-bottom-left-radius: $input-border-radius;
  border-bottom-right-radius: $input-border-radius;
  .ant-table-filter-dropdown-btns {
    border-bottom-left-radius: $input-border-radius;
    border-bottom-right-radius: $input-border-radius;
  }
  // &.search {

  // }
}
