@import "src/assets/scss/utils/mixins.scss";
@import "src/assets/scss/utils/variables.scss";

code-input {
  --item-spacing: 10px;
  --item-height: 48px;
  --item-width: 48px;
  --item-border-radius: 8px;
  --item-border: 1px solid #d9e5eb;
  max-width: 300px;
  margin: 0 auto;
}

.auth-form-wrapper {
  padding: 32px;

  h1 {
    text-align: center;
    margin-bottom: 12px;
    letter-spacing: -0.02em;
  }
  h1 + p {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.15px;
    text-align: center;
    max-width: 300px;
    margin: 0 auto 40px;
    color: $gray-color;
  }

  .resend-code {
    @include flex-container(row, center, center);
    margin-top: 12px;
    gap: 5px;

    span {
      color: $blue-color;
      cursor: pointer;
    }
  }

  button {
    margin-top: 16px;
    width: 100%;
  }

  .error-message {
    text-align: center;
  }
}
