<div class="page-header white">
  <h1></h1>
  <nz-tabset class="white-tabs">
    <nz-tab nzTitle="Primary Medical Condition">
      <ng-template nz-tab>
        <div class="tab-content">
          <app-settings-table [appointmentSettingType]="primaryMedicalCondition" />
        </div>
      </ng-template>
    </nz-tab>
    <nz-tab nzTitle="Fitness for work">
      <ng-template nz-tab>
        <div class="tab-content">
          <app-settings-table [appointmentSettingType]="fitnessForWork" />
        </div>
      </ng-template>
    </nz-tab>
    <nz-tab nzTitle="Return to work">
      <ng-template nz-tab>
        <div class="tab-content">
          <app-settings-table [appointmentSettingType]="returnToWork" />
        </div>
      </ng-template>
    </nz-tab>
    <nz-tab nzTitle="Disability related">
      <ng-template nz-tab>
        <div class="tab-content">
          <app-settings-table [appointmentSettingType]="disabilityRelated" />
        </div>
      </ng-template>
    </nz-tab>
    <nz-tab nzTitle="Work related">
      <ng-template nz-tab>
        <div class="tab-content">
          <app-settings-table [appointmentSettingType]="workRelated" />
        </div>
      </ng-template>
    </nz-tab>
  </nz-tabset>
</div>
