<div class="products-page">
  <nz-page-header class="with-actions">
    <nz-page-header-title
      ><app-search-input (searchTextChange)="handleSearchByText($event)"
    /></nz-page-header-title>
    <nz-page-header-content>
      <nz-table
        [nzLoading]="isLoading$ | async"
        [nzData]="productsData"
        [nzFrontPagination]="false"
        [nzTotal]="totalCount"
        zTableLayout="fixed"
        [nzScroll]="{ x: '700px' }"
        (nzQueryParams)="onQueryParamsChange($event)"
      >
        <thead>
          <tr>
            <th nzColumnKey="Id">Product Id</th>
            <th nzColumnKey="FirstName">Product Name</th>
            <th nzColumnKey="LastName">Price</th>
            <th
              [width]="50"
              [nzChecked]="checked"
              [nzIndeterminate]="indeterminateCheckbox"
              (nzCheckedChange)="onAllChecked($event)"
            ></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of productsData">
            <td>
              {{ data?.customId }}
            </td>
            <td>
              {{ data?.name }}
            </td>
            <td>
              {{ data?.price }}
            </td>
            <td
              [nzChecked]="hasProduct(data)"
              (nzCheckedChange)="onItemCheckedChange(data, $event)"
            ></td>
          </tr>
        </tbody>
      </nz-table>
    </nz-page-header-content>
  </nz-page-header>
</div>

<div class="btn-wrapper">
  <button
    (click)="handleCancel()"
    nz-button
    nzType="default"
    class="default"
    nzSize="large"
  >
    Cancel
  </button>
  <button
    (click)="addProducts()"
    [nzLoading]="isLoading$ | async"
    nz-button
    nzType="primary"
    nzSize="large"
  >
    Save
  </button>
</div>
